/* Dark mode styles */
body.dark-mode {
  background: #181818;
  color: #fff;
}

body.dark-mode .MuiDrawer-paper {
  background: #1a1a1a !important;
  color: #fff !important;
}

.dark-modal {
  background-color: #333 !important;
  color: #fff !important;
}

.dark-modal .MuiTypography-root {
  color: #fff !important;
}

.dark-modal .MuiDialogTitle-root {
  color: #fff !important;
}