/* Dark mode styles */
body.dark-mode {
  background: #181818;
  color: #fff;
}

body.dark-mode .MuiDrawer-paper {
  background: #1a1a1a !important;
  color: #fff !important;
}

.dark-modal {
  background-color: #333 !important;
  color: #fff !important;
}

.dark-modal .MuiTypography-root {
  color: #fff !important;
}

.dark-modal .MuiDialogTitle-root {
  color: #fff !important;
}

.map-color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Match the MapContainer height */
  background: rgba(255, 0, 0, 0.5); /* Red for testing */
  pointer-events: none;
  z-index: 400;
}